/* Variables
 * ======================================================*/
/* Mini Reset
 * ======================================================*/
html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  border: 0;
  text-rendering: optimizeLegibility; }

img {
  width: 100%;
  height: auto;
  vertical-align: top; }

p {
  margin-bottom: 1.4rem; }

body {
  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f6f7f8;
  color: #011627;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

/* MF Doom
 * ======================================================*/
.rapper {
  max-width: 1200px;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

/* BYOW Grid
 * ======================================================*/
.grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -2.4rem; }

.grid-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 2.4rem; }

.grid-left {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.grid-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.grid-right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.grid-baseline {
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }

.grid-top {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }

.grid-middle {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.grid-bottom {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end; }

/* Header
 * ======================================================*/
.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: .5rem solid #333;
  margin-bottom: 2.4rem;
  font-family: "Roboto Mono", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2rem; }

.title {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }
  .title a {
    text-decoration: none;
    color: #011627;
    -webkit-transition: color .3s;
    transition: color .3s; }
    .title a:hover {
      color: #20a4f3;
      -webkit-transition: color .3s;
      transition: color .3s; }

.nav {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .nav a {
    display: block;
    padding-left: 1rem;
    text-decoration: none;
    color: #011627;
    -webkit-transition: color .3s;
    transition: color .3s; }
    .nav a:hover {
      color: #20a4f3;
      -webkit-transition: color .3s;
      transition: color .3s; }

/* Work 
 * ========================================================*/
.work {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-bottom: 4.2rem; }

.works {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 33.3333333%;
  -ms-flex: 1 1 33.3333333%;
  flex: 1 1 33.3333333%;
  overflow: hidden; }

.overlay {
  opacity: 0;
  position: absolute;
  color: #fff;
  background: #011627;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .overlay h3 {
    font-family: "Roboto Mono", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2.4rem;
    font-weight: 400; }
  .overlay h4 {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    font-weight: 400; }

.works a {
  position: absolute;
  color: #fff;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
  z-index: 666; }

.works:hover .overlay {
  opacity: 0.8;
  -webkit-transition: opacity .3s;
  transition: opacity .3s; }

@media all and (max-width: 600px) {
  .works {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 50%;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%; }

  .works h3 {
    font-size: 1.4rem; } }
@media all and (max-width: 800px) {
  .works h3 {
    font-size: 1.6rem; }

  .works h4 {
    font-size: 1.2rem; } }
/* Works Pages
 * =======================================================*/
.gallery {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-bottom: 4.2rem; }

.pieces {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 50%;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap; }
  .pieces h3 {
    font-family: "Roboto Mono", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 2.4rem;
    margin-bottom: 2.4rem; }
  .pieces p {
    padding-right: 1rem; }
  .pieces a {
    font-family: "Roboto Mono", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #20a4f3;
    -webkit-transition: color .3s;
    transition: color .3s; }
    .pieces a:hover {
      color: #011627;
      -webkit-transition: color .3s;
      transition: color .3s; }

@media all and (max-width: 600px) {
  .gallery {
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap; }

  .pieces {
    margin-bottom: 2.4rem; }

  .pieces p {
    padding-right: 0; } }
/* About
 * ========================================================*/
.about {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto; }
  .about p {
    font-size: 2.5rem;
    line-height: 1.5;
    margin-bottom: 2.4rem;
    color: #444;
    font-family: "Roboto Mono", "Helvetica Neue", Helvetica, arial, sans-serif; }
    .about p a {
      text-decoration: none; }
      .about p a:hover {
        text-decoration: underline; }

@media all and (max-width: 800px) {
  .about {
    max-width: 90%; }

  .about p {
    font-size: 1.8rem; } }
@media all and (max-width: 600px) {
  .about {
    max-width: 100%; }

  .about p {
    font-size: 1.5rem; } }
.twitter {
  color: #4099ff; }

.ig {
  color: #9b6954; }

.spotify {
  color: #23cf5f; }

.flickr {
  color: #ff0084; }

.discogs {
  color: #888; }

.link {
  color: #20a4f3; }

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  width: 100vw;
  background-color: #011627;
  color: #f6f7f8;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1.6rem; }
  .footer p {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 1rem; }
  .footer a {
    color: #f6f7f8;
    text-decoration: underline;
    -webkit-transition: color .3s ease;
    transition: color .3s ease; }
    .footer a:hover {
      color: #20a4f3;
      -webkit-transition: color .3s ease;
      transition: color .3s ease; }

/*# sourceMappingURL=style.css.map */
