@import "../bower_components/susy/sass/susy";
@import "../bower_components/typi/scss/typi";
@import "../bower_components/breakpoint-sass/stylesheets/breakpoint";
@import "mixins";
@import "colors";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,700,800);


//Susy Grid Settings
$susy: (
  container: auto,
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
  container-position: left,
);

//Breakpoints
$sm: max-width 600px;
$md: max-width 900px;

//Typi Breakpoints
$breakpoints: (
  small: 600px,
  medium: 900px,
  large: 1200px,
);

  //Typi Settings
  $typi: (
    null: (16px, 1.4),
    small: 16px,
    medium: 18px,
    large: 20px,
  );

//Font Stack
$fs: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

html {
  @include typi-base();
  box-sizing: border-box;
}

body {
  font-family: $fs;
  font-weight: 300;
  background-color: $lightgray;
  color: $white;
}
  //404 page attributes*
  .four04 {
    background-image: url("../img/adele-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
    //* Using Flexbox for true vertical centering
    .four04__box {
      height: 100vh;
      width: 100vw;
      background-color: rgba(0,0,0,0.5);
      display: flex;
      align-items: center;
      justify-content: center;
    }

      .four04__message {
        text-align: center;
        text-shadow: 0 1px 3px $black;
        h1 {
          margin-bottom: vr(1);
        }
        a {
          color: inherit;
        }
      }

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.rapper { 
  @include container(75em);
}

  $aside-width: 350px;
  aside {
    width: $aside-width;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    font-size: 1rem;
    color: $seagreen;
    padding: 0 1.5em;
    background-color: $black;
    h1 {
        text-align: center;
        font-size: 1.2em;
        font-weight: 600;
        margin-bottom: vr(.5);
      }
    h3 {
        text-align: center;
        font-weight: 300;
        font-size: .8em;
        margin-bottom: vr(1.5);
        a {
          color: darken($seagreen, 5%);
          text-decoration: none;
          &:hover {
            color: lighten($seagreen, 10%);
          }
        }
      }
    ul.nav {
      list-style: none;
      li.nav-itm {
        font-size: 1em;
        padding: vr(.8);
        border-top: 1px solid $seagreen;
        &:last-of-type {
          border-bottom: 1px solid $seagreen;
        }
        a {
          color: $seagreen;
          text-decoration: none;
         }
      }
    }
  }

    .nav-itm:hover span { color: lighten($seagreen, 10%); }
    .nav-itm:hover .icon { fill: lighten($seagreen, 10%); }

    .icon {
      height: vr(1);
      width: vr(1);
      fill: $seagreen;
      vertical-align: bottom;
      margin-right: vr(1);
    }

  .avatar-wrap {
    height: 150px;
    width: 150px;
    margin: vr(1.5) auto vr(1) auto;
  }

    .avatar {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      fill: $black;
      padding: vr(1);
      background: $seagreen;
      transition: fill .2s ease-in-out;
    }

    //Medium Breakpoint Settings: Aside
    @include breakpoint($md) {
      aside {
        @include container(100%);
        position: relative;
        width: 100%;
        header {
          @include span(4);
        }
        ul.nav {
          @include span(8 last);
          padding-left: vr(5);
          li.nav-itm {
            border: none;
            &:last-of-type {
              border: none;
            }
          }
        }
      }
    }

    //Small Breakpoint Settings: Aside
    @include breakpoint($sm) {
      html { font-size: 90%; }
      aside {
        .icon { display: none; }
        header {
          width: 100%;
          h3 {
            margin-bottom: vr(1);
          }
        }
        ul.nav {
          width: 100%;
          padding-top: 0;
          padding-left: 0;
          margin-bottom: vr(1);
          text-align: center;
          li.nav-itm {
            display: inline-block;
            padding: vr(1);
          }
        }
      }
    }

main { 
  margin-left: $aside-width;
  margin-top: vr(1);
  padding: 0 vr(1);
  h2 {
    font-size: 2.250em;
    color: $black;
    margin-bottom: vr(1);
    letter-spacing: 1px;
  }
}
  //Medium Breakpoint Settings: Main
  @include breakpoint($md) {
    main {
      width: 100%;
      margin-left: 0;
    }
  }

  .skills {
    list-style-type: none;
    margin-bottom: vr(1);
    li {
      display: inline-block;
      font-size: 1.2em;
      padding: vr(.5) vr(1);
      margin-right: vr(1);
      margin-bottom: vr(1);
      background-color: $black;
      color: $seagreen;
      border-radius: 4px;
      @include box_shadow(1);
    }
  }

  .work {
    list-style-type: none;
    li {
      display: list-item;
      margin-bottom: vr(1);
       h3 {
        font-size: 1.8rem;
        font-weight: 400;
        color: $seagreen;
        display: inline-block;
        margin-right: vr(1);
        &:hover {
          color: darken($seagreen, 15%);
        }
      }
       span {
        font-size: .8em;
        color: lighten($black, 20%);
        text-transform: uppercase;
        margin-right: vr(1);
      }
    }
  }

footer {
  margin-left: $aside-width;
  padding: vr(1) vr(1);
  @include breakpoint ($md) {
    margin-left: 0;
  }
  h2 {
    color: $black;
    margin-bottom: vr(.5);
  }
  p {
    color: darken($seagreen, 10%);
    font-size: 1.2rem;
    margin-bottom: vr(1);
  }
  a {
    color: $seagreen;
    text-decoration: underline;
    &:hover {
      color: darken($seagreen, 10%);
    }
  }
}
