$base-spacing-unit: 24px !default;

.layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // margin-left: -$base-spacing-unit;
}

/* Individual layout items (use your own widths) */
  .layout__item {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    // padding-left: $base-spacing-unit;
  }

.layout--reverse {
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
}

 /* Make the layout items fill up from the left, right, or center */
.layout--left       { justify-content: flex-start; }
.layout--center     { justify-content: center; }
.layout--right      { justify-content: flex-end; }

/* Align layout items to the vertical baseline, top, middle, or bottom of each other */
.layout--baseline   { align-items: baseline; }
.layout--top        { align-items: flex-start; }
.layout--middle     { align-items: center; }
.layout--bottom     { align-items: flex-end; }

/* Distribute layout items with space around, or between them */
.layout--around     { justify-content: space-around; }
.layout--between    { justify-content: space-between; }


