@Charset "UTF-8";
@import "flex-layout.scss";

$slab: 'Roboto Slab', serif;
$sans: 'Roboto', sans-serif;

/* mini*reset */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font: 300 16px/1.5 'Roboto', sans-serif;
  background-color: #fff;
  color: #333;
  box-sizing: border-box;
}

 @media (max-width: 900px) {
    html { font-size: 15px; }
  }
  @media (max-width: 450px) {
    html { font-size: 14px; }
  }

p {
  margin-bottom: 24px;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.rap {
  width: 100%;
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.cycle-slideshow {
  width: 100%;
}

header {
  width: 100%;
  padding: 1.5em;
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  a {
    padding-left: 2.5rem;
      text-decoration: none;
      color: black;
      &:hover {
        color: #3c3c3c;
        text-decoration: underline;
    }
  }
}

  .home-title {
    font-family: $slab;
    font-size: 1.3rem;
    font-weight: 400;
    text-transform: uppercase;
    color: black;
    a {
      padding-left: 0;
      &:hover {
        color: #3c3c3c;
        text-decoration: none;
      }
    }
 }

  .nav {
    width: 100%;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    li {
      list-style: none;
      display: inline;
    }
  }

  @media (max-width: 650px) {
    li > a {
      display: block;
      line-height: 1.8;
    }
  }

  .quarter            { width: 25%; }
  .thirty-seven-half  { width: 37.5%; }
  .thirds             { width: 33.3333333333%; }

  @media (max-width: 900px) {
    .quarter            { width: 50%; }
    .last-quarter       { width: 100%; }
    .thirty-seven-half  { width: 50%; }
    .thirds             { width: 100%; }
  }

.overlay {
  background: rgba(0,153,204,0.7);
  color: #f4f4f4;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  padding: 10%;
  transition: opacity .5s;
  text-decoration: none;
  z-index: 1;
  h1 {
    font-family: $slab;
    font-weight: 300;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    text-align: center;
  }
  .line {
    width: 0;
    margin: 0 auto;
    border-top: 1px solid #f4f4f4;
    transition: width .5s;
  }
}

    .overlay:hover {
      opacity: 1;
      transition: opacity .5s;
      .line {
        width: 40%;
        transition: width .5s;
      }
    }

  .vc {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

.feature {
  max-width: 1000px;
  padding: 2rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  color: rgb(60,60,60);
}

  .title {
    font-family: $slab;
    font-weight: 300;
    width: 100%;
    margin-bottom: 24px;
  }

  .work-info {
    width: 40%;
  }

  .work-image {
    width: 60%;
    img {
      margin-bottom: 24px;
    }
  }

  @media (max-width: 600px) {
    .work-info,
    .work-image {
      width: 100%;
    }
  }

  .feature-nav {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: $sans;
    font-weight: 300;
    font-size: 1rem;
    a {
      color: #3c3c3c;
      text-decoration: none;
      padding-top: 1rem;
      padding-bottom: 1rem;
      &:hover {
        text-decoration: underline;
      }
    }
  }

.footer {
  background-color: #f4f4f4;
  padding: 1.5rem;
  width: 100%;
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
  p {
    margin-bottom: auto;
  }
  a {
    color: rgba(60,60,60,1.0);
    &:hover {
      colar: rgba(60,60,60,0.9);
    }
  }
}

  .copy {
    width: 50%;
    text-align: left;
  }

  .site-by {
    width: 50%;
    text-align: right;
  }

  @media (max-width: 650px) {
    .copy,
    .site-by {
      width: 100%;
      text-align: center;
    }
  }

