doctype html
html
  head
    title Oops!
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="keywords" content="web design, web development, webdev, greensboro, charlotte, north carolina, jason white")
    meta(name="description" content="Jason is a front-end web developer in training looking to relocate to Charlotte, NC to work in a team environment.")
    link(href="css/main.css", rel="stylesheet")
    body.four04
      div.four04__box
        div.four04__message
          p Hello from the other side<br>I must have called a thousand times<br>To tell you I'm sorry for everything that I've done<br>But when I call you never seem to be <a href="/">home</a>
