doctype html
html
  head
    title Jason White
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="keywords" content="web design, web development, webdev, greensboro, charlotte, north carolina, jason white")
    meta(name="description" content="Jason is a front-end web developer in training looking to relocate to Charlotte, NC to work in a team environment.")
    link(href="css/main.css", rel="stylesheet")
    body
      include svg-defs.html
      .rapper
        aside
          header
            div.avatar-wrap
              svg(class="avatar")
                use(xlink:href="#avatar")
            h1 Jason White
            h3: a(href="mailto:jasonawhite@gmail.com") jasonawhite@gmail.com
          ul.nav
            li.nav-itm
              a(href="http://dribbble.com/jason-white" target="_blank")
                svg(class="icon dribbble")
                  use(xlink:href="#dribbble")
                span Dribbble
            li.nav-itm
              a(href="http://linkedin.com/in/jawhite9" target="_blank")
                svg(class="icon linked")
                  use(xlink:href="#linked")
                span LinkedIn
            li.nav-itm
              a(href="http://twitter.com/_qbert" target="_blank")
                svg(class="icon twitter")
                  use(xlink:href="#twitter")
                span Twitter
            li.nav-itm
              a(href="http://instagram.com/qbrt" target="_blank")
                svg(class="icon instagram")
                  use(xlink:href="#instagram")
                span Instagram
            li.nav-itm
              a(href="http://flickr.com/photos/jasonwhite" target="_blank")
                svg(class="icon flickr")
                  use(xlink:href="#flickr")
                span Flickr
        main
          h2 Skill Set
          ul.skills
            li HTML5
            li CSS3
            li Jade
            li Sass
            li Mixins
            li Responsive Web Design
            li Typi
            li Flexbox
            li SVG Sprites
            li Javascript
            li Sass Grids (Bourbon Neat, Susy)
            li Frameworks (Foundation, Skeleton)
            li Normalize and Resets
            li OOCSS
            li BEM
            li Gulp and Grunt
            li npm
            li Bower
            li Git
            li Vim
            li Adobe Creative Cloud
          h2 Work
          ul.work
            li
              a(href="http://nikkiblair.com/" target="_blank"): h3 Nikki Blair
              span Design, Development, Photography
            li
              a(href="http://pwasserboehrsculptor.com/" target="_blank"): h3 Pat Wasserboehr
              span Design, Development
            li
              a(href="http://jasonwhite.us/home-page/" target="_blank"): h3 Start Page
              span Design, Development
        footer
          h2 About me
          p I’m a freelance web designer/developer living and working Greensboro, North Carolina. Currently looking for a position in a creative team environment. I have a strong attention to detail, am hard working, very organized and want to grow in this field infinitely.
          p Also a huge <a href="http://www.last.fm/user/qbertqbert" target="_blank">music nerd</a> and <a href="https://www.discogs.com/user/qbrt/collection" target="_blank">vinyl enthusiast</a>.
          p This site is hosted on <a href="https://github.com/jason-white/jason-white.github.io" target="_blank">Github</a>.
