doctype html

html
  head

    title Jason White

    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="keywords" content="web design, web development, webdev, greensboro, charlotte, north carolina, jason white")
    meta(name="description" content="Jason is a web developer living and working in Charlotte, NC.")

    link(href="css/main.css", rel="stylesheet")

    body
      // Include SVG Sprite
      include svg-defs.html

      // Begin Page Rap - C.R.E.A.M.
      section.rapper

        // Begin Sidebar
        aside

          // Begin Header
          header

            div.avatar-wrap
              svg(class="avatar")
                use(xlink:href="#avatar")
            h1 Jason White
            h3: a(href="mailto:jasonawhite@gmail.com") jasonawhite@gmail.com
          // End Header

          // Begin Links
          ul.nav
            li.nav-itm
              a(href="http://codepen.io/qbert/pens/public/" target="_blank")
                svg(class="icon")
                  use(xlink:href="#codepen")
                span CodePen
            li.nav-itm
              a(href="http://dribbble.com/jason-white" target="_blank")
                svg(class="icon dribbble")
                  use(xlink:href="#dribbble")
                span Dribbble
            li.nav-itm
              a(href="http://linkedin.com/in/jawhite9" target="_blank")
                svg(class="icon linked")
                  use(xlink:href="#linked")
                span LinkedIn
            li.nav-itm
              a(href="http://twitter.com/_qbert" target="_blank")
                svg(class="icon twitter")
                  use(xlink:href="#twitter")
                span Twitter
            li.nav-itm
              a(href="http://flickr.com/photos/jasonwhite" target="_blank")
                svg(class="icon flickr")
                  use(xlink:href="#flickr")
                span Flickr
          // End Links
        // End Sidebar

        // Begin Main
        main
          h2 Things I Use 
          ul.skills
            li HTML5
            li CSS3
            li Pug
            li Sass
            li Responsive Web Design
            li Atomic Design
            li Modular Design
            li Design Systems
            li Flexbox
            li SVG
            li JS
            li Vue
            li BEM
            li OOCSS
            li Gulp
            li npm
            li Git
            li Adobe Creative Cloud


          h2 Work
          ul.work
            li
              a(href="http://supportnovanthealth.org/"): h3 Novant Health
              span Google Maps
            li
              a(href="https://stanlyhealthfoundation.org/"): h3 Stanly Health Foundation
              span Development, Custom Wordpress theme
            li
              a(href="http://gaston.org/" title="Gaston County Economic Development Commission" target="_blank"): h3 Gaston County EDC
              span Development
            li
              a(href="http://birdseyeenergy.com/" title="Birdseye Renewable Energy" target="_blank"): h3 Birdseye Renewable Energy
              span Development
            li
              a(href="htp://tuskbrokerage.com/" title="Tusk Brokerage" target="_blank"): h3 Tusk Brokerage
              span Development (in progress)
            li
              a(href="http://hmproperties.com/" title="HM Properties" target="_blank"): h3 HM Properties
              span Development
            li
              a(href="http://nikkiblair.com/" title="Nikki Blair" target="_blank"): h3 Nikki Blair
              span Design, Development, Photography
            li
              a(href="http://pwasserboehrsculptor.com/" title="Pat Wasserboehr" target="_blank"): h3 Pat Wasserboehr
              span Design, Development
            li
              a(href="http://jasonwhite.us/home-page/" target="_blank"): h3 Start Page
              span Design, Development
        // End Main

        // Begin Footer
        footer
          h2 About
          p Web developer living and working in Charlotte, North Carolina.
          p Also a huge <a href="http://www.last.fm/user/qbertqbert" target="_blank">music nerd</a> and <a href="https://www.discogs.com/user/qbrt/collection" target="_blank">vinyl enthusiast</a>.
          p This site is hosted on <a href="https://github.com/jason-white/jason-white.github.io" target="_blank">Github</a>.
        // End Footer
      // End Page Rap
